@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
:root {
    --student-color: #65d084;
    --teacher-color: #5e75ce;
    --aulaSQL-color: #5eceb7;
}

* {
    font-family: 'Roboto', sans-serif;
}

.student {
    color: var(--student-color);
}

.teacher {
    color: var(--teacher-color);
}

.jumbotron {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F4.bp.blogspot.com%2F-llAR8FKtv8o%2FWJvGFz3LSqI%2FAAAAAAAAAss%2FD1wynoWWMosauyyaXFaYtkYVZkjwI0kagCLcB%2Fs1600%2F20170207_123610.jpg&f=1&nofb=1https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F4.bp.blogspot.com%2F-llAR8FKtv8o%2FWJvGFz3LSqI%2FAAAAAAAAAss%2FD1wynoWWMosauyyaXFaYtkYVZkjwI0kagCLcB%2Fs1600%2F20170207_123610.jpg&f=1&nofb=1");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron-content {
    color: white;
    background-color: rgb(26, 26, 26, 0.8);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid black;
}

.gear-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-menu {
    right: 0;
    left: inherit !important;
}

.teacher,
.teacher:hover,
.teacher:active {
    color: var(--teacher-color) !important;
    text-decoration: none;
}

.student,
.student:hover,
.student:active {
    color: var(--student-color) !important;
    text-decoration: none;
}

.student-btn {
    background-color: var(--student-color);
    color: white;
}

.teacher-btn:hover {
    color: white !important;
    text-decoration: none;
}

.teacher-btn {
    background-color: var(--teacher-color);
    color: white;
}

.student-btn:hover {
    color: white !important;
    text-decoration: none;
}

.btn-danger {
    margin-left: 15px;
    position: relative;
    color: white !important;
    text-decoration: none;
}

.aulaSQL {
    color: var(--aulaSQL-color) !important;
}

.aulaSQL:hover,
.aulaSQL:active {
    text-decoration: none;
}

.aulaSQL-a:hover {
    color: var(--aulaSQL-color) !important;
}

.aulaSQL-btn {
    background-color: var(--aulaSQL-color);
    color: white;
}

.aulaSQL-btn:hover {
    color: white !important;
    text-decoration: none;
}

.profile-item:hover,
.profile-item:active {
    background-color: inherit;
    color: black;
}

.create-classroom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 60px;
}

.create-classroom-container input {
    height: 38px;
}

.add-student-container input {
    height: 38px;
}

.classroom-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.student-data {
    margin-bottom: 80px;
}

.unit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.exercise-container {
    width: 100%;
    padding: 15px;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}

.fix-nav {
    height: 56px;
}

.add-student-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 60px;
}

.img-thumbnail {
    border: none;
}